.changePageDiv {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.changePageDiv > button {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px transparent solid;
  border-radius: 14px;

  padding: 10px 15px;
  font-size: 25px;

  background-color: var(--grey-0);
  color: var(--color-primary);
  transition: 0.2s;
}
.changePageDiv > button:hover {
  border-color: var(--grey-0);
  background-color: var(--color-primary);
  color: var(--grey-0);
}

.changePageDiv > button:disabled {
  cursor: default;
  background-color: var(--grey-1);
  color: var(--color-primary);
}
